.help{
    width: 100%;
    min-height: 820px;
    position:relative;
    
    @media screen and (max-width:768px){
       min-height: 411px;
    }
   
    &__background{
        object-fit: cover;
      
        position: absolute;
        top:0;
        left: 0;
       width: 100%;
       z-index: -10;
       height: 100%;
       
    }
   
    &-content{
       max-width: 742px;
       //border:1px solid white;
       padding-top: 142px;
       @media screen and (max-width:768px){
        padding-top: 62px;
     }
    }
    &__title{
        margin-bottom: 28px;
        @media screen and (max-width:768px){
            margin-bottom: 18px;
         }
    }
    &__text{
        font-weight: 500;
        font-size: 23px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 45px;
        @media screen and (max-width:768px) {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 22px;
        }
        @media screen and (max-width:320px) {
            font-size: 16px;
            line-height: 23px;
            
            font-style: normal;
            font-weight: normal;
        }
    }
    &__button{
        @media screen and (max-width:492px) {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}